<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hbeu.lyy.interfaces.Student2Mapper">
    <select id="queryStudent2ById"
            resultType="hbeu.lyy.pojo.Student2" parameterType="int">

        select * from student2 where id=#{id}
    </select>

    <select id="queryAllStudent2"
            resultType="hbeu.lyy.pojo.Student2" >

        select * from student2
    </select>

    <insert id="addStudent2" parameterType="hbeu.lyy.pojo.Student2">
      insert into student2(id,stuname,address) values (#{id},#{stuname},#{address})
    </insert>


</mapper>